%h2 Main
%ul
  %li
    %a{ href: '/credit_card' }
      Register a card
  %li
    %a{ href: '/credit_card/validate' }
      Validate a card number
- if @current_user
  = haml :everything, locals: { result: result }
