%h2 Main
%p
  Credit Card APP is up and running

%p
  %h4 Credit Card APP Features
  %ul
    %li
      %a{href: '/validate'} 
      Credit Card Validation
    %li
      %a{href: '/api/v1/credit_card/everything'} 
      Your Credit Cards entered
    %li
      %a{href: '/add'} 
      Add Credit Card
