%h2 Main
%ul
  %li
    %a{ href: '/credit_card' }
      Register a card
  %li
    %a{ href: '/credit_card/everything' }
      Retrieve cards
  %li
    %a{ href: '/credit_card/validate' }
      Validate a card number
